<br>
<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col">
            <h4>Things I have dealt with: </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="itemsDone">
                <div *ngFor="let todo of todos">   
                    <!--ID of #box can be set with data binding-->
                  <div class="itemBox" #box id="{{todo.id}}">
                    <span> {{todo.title}} </span>
                    <button class="btn btn-danger resetButton" (click)="resetTodo(box.id)">⟲</button>
                  </div>
                </div>  
            </div>
        </div>
    </div>
</div>

