<br>
<div class="container">
    <div class="row">
        <div class="col">
            <input class="inputField" type="text" placeholder="Add Item"> 
            <button class="btn btn-secondary" type="submit">Add item</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h4>Things I still have to do: </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="itemsOpen">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-body" *ngFor="let todo of todos">
                      <p class="card-text">{{todo.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

