<br>
<div class="container">
    <div class="row">
        <div class="col">
            <input class="inputField" type="text" placeholder="Add Item"> 
            <button class="btn btn-secondary" type="submit">Add item</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h4>Things I still have to do: </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="itemsOpen">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum saepe culpa impedit ipsam sed dicta unde aliquid aut nulla mollitia soluta ea veniam, maiores voluptas non laudantium quos, et possimus.
            </div>
        </div>
    </div>
</div>

