<br>
<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col">
            <input class="inputField" #input type="text" placeholder="Add Item"> 
            <button class="btn btn-secondary" type="submit"(click)="addTodo(input.value)">Add item</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h4>Things I still have to do: </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="itemsOpen">
                 <div *ngFor="let todo of todos">   
                    <div class="itemBox" #box id="{{todo.id}}">
                        <input type="checkbox" class="checkbox1" (click)="updateTodo(box.id)"> 
                        <span>   {{todo.title}}   </span>
                        <button type="button" (click)="deleteTodo(box.id)" class="btn1 btn-close btn-close-white" aria-label="Close"></button>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

