<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title">Procrastination is opportunity's natural assassin.</h1> <br> <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="btn-group" role="group" aria-label="nav">
        <a class="btn btn-secondary" routerLink="open">Open</a>
        <a class="btn btn-secondary" routerLink="done">Done</a>
      </div> 
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


